<!DOCTYPE html>
{% extends "App_Pkob/base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reporting</title>
    <style>
    .button{
    background-color: white;
    color: black;
    padding: 12px 16px;

    }
</style>
   {% block content %}
 <style>
  table{
      border-collapse: collapse;
      width:80%;
      font-family:'Raleway', sans-serif ;
      font-size: 30px;
      text-align: left;
      margin:auto;
  }
  th{
background-color:#B67F2D ;
      color:white;
  }
  tr:nth-child(even){background-color:#f2f2f2}


 </style>



</head>

<body>

<h1 style="text-align: center">List of People</h1>
<table>
    <tr>
        <th>IC No</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Age</th>
    </tr>
    {% for people in people_list %}

        <tr data-href = "peopleInfo.html">
        <td>{{ people.IcNo}}</td>
        <td> {{ people.Name }}</td>
        <td>{{ people.Phone}}</td>
        <td> {{year2.pop }}</td>
        <td><a href="{% url "person-info" people.IcNo %}"><button style="border-radius: 10px; height: 30px;width:50px ; color:#B67F2D "  type="button"  >Edit</button></a></td>
        </tr>
        {% endfor %}
</table>


</body>
{% endblock content %}
</html>